<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 98vh;
            background: #C6F6D5;
        }

        .error-container {
            text-align: center;
        }

        .title {
            font-size: 65px;
        }

        .message {
            font-size: 45px;
        }
    </style>
</head>
<body>
    <div class="error-container">
        @RenderBody()
    </div>
</body>
</html>
