
@{
    ViewBag.Title = @Resources.Resource.label_profile;
}

<div class="page-title">@ViewBag.Title</div>

<div class="container-fluid">
    <div class="row text-center" style="padding-top:100px;">
        <div class="col-12" style="color:#219653">
            <h1>@Resources.Resource.label_profile</h1>
        </div>
    </div>
</div>

