

@{
    ViewBag.Title = Resources.Resource.label_title;
}

<div class="chat-container">
    <div class="message-list">
        <div class="message left">
            <div class="message-content">Hello!</div>
        </div>
        <div class="message right">
            <div class="message-content">Hi there!</div>
        </div>
        <div class="message left">
            <div class="message-content">How are you?</div>
        </div>
        <div class="message right">
            <div class="message-content">I'm good, thanks!</div>
        </div>
    </div>
    <div class="input-container">
        <input type="text" class="message-input border-success" placeholder="@Resources.Resource.message_ask_ur_question">
        <button id="inputBtn" class="send-button bg-success">
            @Resources.Resource.label_send
        </button>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var isRecording = false;
        $("#recordingButton").click(function () {
            isRecording = !isRecording;
            $("#recordingImage").attr("src", isRecording ? "/Content/images/startIcon.svg" : "/Content/images/stop.gif");
                @*$.ajax({
                    url: '@Url.Action("CheckRecordingStatus", "Home")',
                    type: 'POST',
                    success: function (result) {
                        // Update the image src based on the new boolean value
                        $("#recordingImage").attr("src", result.isRecording ? "~/Content/images/startIcon.svg" : "~/Content/images/stop.gif");
                    }
                });*@
            });
    });
</script>

