@{
    ViewBag.Title = Resources.Resource.label_splash_title;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Kisan e-Mitra</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 98vh;
            flex-direction: column;
            background: #C6F6D5;
        }

        h1 {
            color: #219653;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/Content/images/MOA_logo.png" alt="welcome logo" width="200" height="200" />
    </div>
    <div>
        <h1>@Resources.Resource.label_splash_title</h1>
    </div>

    <script type="text/javascript">

    const fpPromise = import('https://openfpcdn.io/fingerprintjs/v3')
    .then(FingerprintJS => FingerprintJS.load())

    // Get the visitor identifier when you need it.
        fpPromise.then(fp => fp.get())
            .then(result => {
                console.log(result);
                // This is the visitor identifier:
                const fingerPrintID = result.visitorId;
                setTimeout(function () {
                    window.location.href = '@Url.Action("Index", "Home")?fingerPrint=' + fingerPrintID;
                }, 3000);

            });
    </script>
</body>
</html>
