@{
    ViewBag.Title = Resources.Resource.label_splash_title;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Kisan e-Mitra</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height:98vh;
            flex-direction: column;
            background: #C6F6D5;
        }
        h1 {
            color: #219653;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/Content/images/MOA_logo.png" alt="welcome logo" width="200" height="200"/>
    </div>
    <div>
        <h1>@Resources.Resource.label_splash_title</h1>
    </div>

    <script>
        // Wait for 5 seconds and redirect to the main page
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")';
        }, 3000);
    </script>
</body>
</html>
