:root {
    --pmk-primary: #198754;
}

table.aadhar-table {
    margin-bottom: 0px;
}

.aadhar-table tbody tr td:first-child {
    font-weight: bold;
    font-size: 0.8em;
}

.aadhar-table {
    display: flex;
}

.div-row div:nth-child(2) {
    font-weight: bold;
    color: #333;
    margin-bottom: 1%;
}

.welcome-message-container {
    padding: 0px 10px;
}

.system-msg-left {
    background-color: #f7f7f8;
    border-bottom: 1px solid #d1d1d1;
    padding: 2% 5%;
}

.left {
    justify-content: flex-start;
    padding: 15px;
}

.chatbot-message-wrapper-column-one {
    flex: 0 1 36px;
    height: 36px;
}

.chatbot-message-wrapper-column-two {
    display: flex;
    flex: 1 1 80%;
    flex-wrap: wrap;
    flex-flow: column wrap;
    padding: 5px 10px;
    font-size: 11px;
}

.chatbot-message-wrapper-column-three {
    flex: 0 1 auto;
}

.chatbot-message-wrapper-column-three-part-two {
    flex: 1 0 20%;
    margin-left: 3rem !important;
}

.feedback-animation {
    animation: icon-animation cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.chatbot-message-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
    position: relative;
    margin-left: 20px !important;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #219653;
    color: #219653;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    display: inline-block;
}

    .dot-flashing::before,
    .dot-flashing::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-flashing::before {
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #219653;
        color: #219653;
        animation: dot-flashing 1s infinite alternate;
        animation-delay: 0s;
    }

    .dot-flashing::after {
        left: 15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #219653;
        color: #219653;
        animation: dot-flashing 1s infinite alternate;
        animation-delay: 1s;
    }

@keyframes dot-flashing {
    0% {
        background-color: #219653;
    }

    50%, 100% {
        background-color: rgba(33, 150, 83, 0.2);
    }
}

@keyframes icon-animation {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.language-buttons {
    margin-top: 5px;
    border-radius: 20px;
    font-size: .9rem;
    height: 30px;
    white-space: nowrap;
}

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px ) and (max-width: 767.98px) {
    .query-msg {
        min-width: 50%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .query-msg {
        min-width: max-content;
    }

    .message-input-textarea {
        padding-top: 1.4em;
    }

    .audio-visualizer-wrapper {
        padding-top: 1.4em;
    }
    /*.navigation-icon{
        margin-bottom: 20px;
    }*/
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}

/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* .kisan-e-mitra-content-padding {
    margin-bottom: 100px;
    padding-bottom: 100px;
  } */

    .query-msg {
        min-width: 70%;
    }
}

/*// `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .chatbot-message-wrapper-column-two {
        flex: 1 1 95%;
    }

    .chatbot-message-wrapper-column-three {
        /*flex: 1 1 100%;*/
        flex: 0 1 5%;
        margin-left: .7rem !important;
        padding-top: 5px;
    }

    .chatbot-message-wrapper-column-three-part-two {
        margin-left: 0px !important;
        padding-top: 5px;
    }

    .message-input-textarea {
        padding-top: 0.8em;
    }

    .audio-visualizer-wrapper {
        padding-top: 0.8em;
    }
    /* .send-button {
    margin: 0px 0px 0px 8px;
  } */
}

/*// `lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
}

/*// `xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/*// `xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
}

.voice-stop-recording-border-color {
    border-color: #fa5f5f;
}

.voice-start-recording-border-color {
    border-color: #198754;
}

.query-msg {
    cursor: pointer;
}

.user-avatar-img {
    background-color: #219653;
    margin-right: 5px;
    margin-bottom: 3px;
}

/*Voice Recording Animation START*/
.over {
    -webkit-animation: rotator 1.5s ease-in-out infinite;
    stroke-dasharray: 107, 38;
}

.bag {
    position: absolute;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Voice Recording Animation Stop*/

img.query-msg-send-icon {
    height: 24px;
    padding: 0px 10px;
}

#message-list.without-popular-questions {
    /*height: calc(100vh - 300px);*/
    transition: all 0.5s ease-in;
}

.chatbot-message-action-buttons {
    width: 24px;
    height: 100%;
}

.kisan-e-mitra-logo {
    height: 48px;
}

.message-input-textarea {
    max-height: 90px;
    display: flex;
    resize: none;
}

    .message-input-textarea::-webkit-scrollbar {
        height: 3px;
        width: 3px;
    }

    .message-input-textarea::-webkit-scrollbar-thumb {
        background-color: #888;
    }


.app-tour-next-button {
    background-color: #198754 !important;
    border-radius: 20px !important;
    height: 40px;
    width: auto;
}

.pm-kisan-chatbot-app-tour-modal-wrapper {
    border-radius: 20px !important;
}

.help-button {
    background: transparent;
}

#startAppTourButton {
    cursor: pointer;
    max-width: 50%;
}

.button-close {
    height: 0.95rem;
    background: url(images/close.svg);
    width: 0.99rem;
    border: 0;
    color: #000;
}

.close-button-wrapper {
    cursor: pointer;
    border-radius: 20px;
    border-style: solid;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.pm-kistan-toast-container {
    position: absolute;
    bottom: 36px;
}

.pm-kisan-hyperlink {
    color: var(--pmk-primary);
}

    .pm-kisan-hyperlink:hover {
        color: var(--pmk-primary);
    }

.popover-custom {
    max-height: 50px;
    font-size: medium;
    text-align: center;
}

    .popover-custom div.popover-body {
        padding: 5px 5px;
        color: #105b38;
    }

.chatbot-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-height: 94%;
}

.footer-svg-hover {
    cursor: pointer;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
    top: 4px;
    /*max-width: 100px;*/
}

#schemesDropdownWrapper {
    display: none;
}

#schemesLabelsWrapper {
    display: none;
}

.h-scrollable-wrapper {
    max-width: 88vw;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.content-head-text-responsive {
    display: none;
}

.chat-message-span-wrapper p {
    display: initial;
}

.welcome-message-wrapper {
    /*position: sticky;
    top: 0;*/
}

.msg-content div.chatbot-message-wrapper-column-two span.chat-message-span-wrapper span.chat-message-span-wrapper {
    padding-left: 5px;
}

/*#appHeader {
    animation: icon-animation cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}*/

#appHeader.without-header {
    transition: all 2s ease-in;
}

#message-list.without-header {
    transition: all 1s ease-in;
    margin-top: 20px;
}

.fade-in-content {
    animation: fadeIn 1s ease;
}

.fade-bottom {
    animation: fade-bottom 1s ease;
}

.fade-left {
    animation: fade-left 0.5s ease;
}

.fade-right {
    animation: fade-right 0.5s ease;
}

.fade-top {
    animation: fade-top 1s ease;
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5
    }

    100% {
        opacity: 1;
    }
}

.modal-header {
    justify-content: space-between;
}

/*left right arrows to scroll content*/

.scroll-arrow {
    background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
    color: black; /* Black text color for better contrast */
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for better visibility */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Add transition effect */
}

    .scroll-arrow:disabled {
        background-color: rgba(255, 255, 255, 0.5); /* Lighter background when disabled */
        cursor: not-allowed;
        opacity: 0.2;
    }

.d-flex.justify-content-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.scroll-container {
    flex-grow: 1;
    overflow-x: auto;
    display: flex;
    align-items: center;
}


/* Position the toggle button at the top center */
.toggle-arrow {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Smooth transition for content visibility */
/*.fade-in-content {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

    .fade-in-content.show {
        max-height: 1000px;*/ /* Adjust based on your content height */
/*opacity: 1;
    }*/

/* Smooth transition for the main content wrapper */
/*#mainContentWrapper {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

    #mainContentWrapper.show {
        max-height: 1000px;*/ /* Adjust based on your content height */
/*opacity: 1;
        border: 1px solid #eae9e9;
        border-radius: 10px;
        background: white;
    }*/

#popularQuestionsWrapper {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    /*overflow: hidden;*/
    max-height: 0;
    opacity: 0;
}

    #popularQuestionsWrapper.show {
        max-height: 1000px; /* Adjust based on your content height */
        opacity: 1;
        border: 1px solid #eae9e9;
        border-radius: 10px;
        background: white;
    }

.schemesLabelsWrapper {
    max-width: 92vw !important;
}


.popover-content-row {
    display: flex;
    align-items: center;
}

    .popover-content-row .form-group {
        margin-right: 10px;
        display: flex;
        flex-grow: 1;
    }

/* Hide the popover content initially */
#popover-content {
    display: none;
}

.settings-popover-item {
    border-radius: 20px;
    background: white;
    color: black;
    border-color: transparent;
    width: 100%;
}

#languageDropDown {
    border-color: transparent !important;
}

#schemesDropdownButton {
    display: flex;
    align-items: center; 
    justify-content: center;
    border-color: transparent !important;
    white-space: normal;
    min-width: 122px;
    gap: 0;
}

.scheme-dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.2em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.language-dropdown-toggle {
    width: 100%;
}

@keyframes fade-top-popover {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.settings-popover {
    /*margin-right: 80px !important;*/
    /*top: 0px !important;*/
    left: -15px !important;
    background-color: lightgrey;
    min-width: 270px;
    opacity: 0;
    /*transform: scale(0.95);*/
    transition: opacity 0.3s ease;
    animation: fade-right-popover 0.5s ease-in-out;
    max-width: 120px;
}

    .settings-popover div.popover-arrow {
        left: 15px !important;
    }

    .settings-popover .popover-arrow::before {
        border-bottom-color: lightgrey !important; /* Change this to your desired color */
    }

    .settings-popover .popover-arrow::after {
        border-bottom-color: transparent !important; /* Change this to your desired color */
    }

    .settings-popover.show {
        opacity: 1;
        transform: scale(1);
    }

.popover-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as needed */
    z-index: 1040; /* Ensure it is behind the popover but above other content */
    display: none; /* Initially hidden */
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}


/* Audio Visualizer */
#micAudioRecordingIcon {
    display: none;
}

.audio-visualizer-wrapper {
    display: none;
    align-items: center;
    justify-content: end;
    width: 100%;
    position: absolute;
    max-height: 90px;
    padding: 0 1.5rem;
}

.audio-visualizer-container {
    /*justify-content: space-around;*/
    width: 100%;
    height: 50px;
    place-content: center;
    align-self: center;
    display: none;
    /*position: absolute;*/
}

.audio-processing-container {
    display: none;
    height: 50px;
    width: 100%;
    align-items: center;
    flex-grow: 1;
}

.bar {
    width: 1.5px; /* Thinner bars */
    height: 10px; /* Reduced height */
    background-color: #198754;
    animation: soundwave 1s infinite;
    animation-play-state: running; /*paused*/
    transform-origin: center;
    margin: 0 0.5px; /* Reduce gap between bars */
}

@keyframes soundwave {
    0%, 100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(var(--scale-factor, 3)); /* Use CSS variable for random scale */
    }
}

#voiceRecordButtonId:active {
    transform: scale(1.5); /* Scale the mic button when pressed */
}

.recording #recordingImage {
    transform: scale(1.5); /* Scale the mic button when recording */
}

/* Initial states */
/*.meg-input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.5s ease-in-out;
}

canvas {
    position: absolute;
    right: -100%;
    transition: right 0.5s ease-in-out;
}*/

/* When canvas is visible */
/*.canvas-visible .meg-input {
    left: 10%;
}

.canvas-visible canvas {
    right: 10%;
}*/

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Apply the animation to the icon */
.flashing-icon {
    animation: flash 1s infinite; /* 1s duration, infinite loop */
}


.auto-read-button-wrapper img {
    max-height: 36px;
    max-width: 36px;
    height: 100%;
    width: 100%;
}



/* Global Auto Read Popover Styles */
.global-auto-read-popover {
    background: white;
}

    .global-auto-read-popover .popover-arrow::before {
        border-bottom-color: white !important; /* Change this to your desired color */
    }

    .global-auto-read-popover .popover-arrow::after {
        border-bottom-color: transparent !important; /* Change this to your desired color */
    }
/*#globalAutoReadPopover {*/
/*display: none;*/
/*position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    width: 300px;
}

    #globalAutoReadPopover .title {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }

    #globalAutoReadPopover .images-row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }

        #globalAutoReadPopover .images-row img {
            width: 100px;
            height: auto;
            cursor: pointer;
            border: 2px solid transparent;
        }

            #globalAutoReadPopover .images-row img.selected {
                border-color: blue;
            }

    #globalAutoReadPopover .radio-buttons-row {
        display: flex;
        justify-content: space-around;
    }*/
.image-container {
    text-align: center;
    cursor: pointer;
}

    .image-container img {
        border-radius: 50%;
        cursor: pointer;
        transition: box-shadow 0.3s, border 0.3s;
        border: 3px solid transparent;
        max-height: 60px;
    }

    .image-container input[type="radio"] {
        display: block;
        margin: 10px auto 0;
        cursor: pointer;
    }

        .image-container input[type="radio"]:checked {
            accent-color: #198754; /* Change the color when checked */
        }

    .image-container .selected {
        border: 3px solid #198754;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

.image-label {
    margin-top: 5px;
    font-weight: bold;
}


div[data-shepherd-step-id="app_tour_language_selection_description"] {
    top: 150px !important;
}