.topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #000000;
}

.ham-menu {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.menuX {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #198754;
}

.sideNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background: #ffffffeb;
    width: -webkit-calc(100vw - 30%);
    width: -moz-calc(100vw - 20%);
    width: calc(100vw - 30%);
    height: 100vh;
    overflow: hidden;
    /* hide the menu above the screen by default */
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.showNav {
    transform: translateX(0);
}

.sideNav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5rem;
}

    .sideNav ul li a {
        display: block;
        color: white;
        padding-bottom: 10px;
        margin-top: 1rem;
        border-bottom: 2px solid black;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
    }

        .sideNav ul li a:hover, .sideNav ul li a:focus {
            border-bottom: 2px solid white;
        }

.overlay {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
}

.showOverlay {
    display: block;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}

    section:nth-child(even) {
        background-color: rgb(245, 245, 245);
    }

/*.accordion-button {
    background-color: #198754;
    color: white;
}*/

    .accordion-button:not(.collapsed) {
        color: #198754;
    }


.accordion-body{
    height:calc(100vh - 300px);
    overflow-y:auto;
}

.accordion-button:focus {
    border-color: #1987547d;
    box-shadow: rgba(25, 135, 84, 0.5) 0px 2px 8px 0px;
}

.accordion-button:not(.collapsed)::after {
    color: #1987547d;
    background-image: url(../Content/images/Expanded.svg);
}

#accordionExample{
    margin-top: 4rem;
}

.popular-query-card {
    margin: 10px 0px;
    display: flex;
    cursor: pointer;
}

.popular-query-card-body {
    padding: 10px;
}

    .popular-query-card-body p {
        margin: 0px;
    }