@media (min-width:768px) {
    /*.kisan-e-mitra-texts-padding{ background-color: #FFF; border-radius: 50px 50px 0 0; }*/
    .custom-option:first-child {
        margin-left: 0;
    }
}

@media (max-width:767px) {
    /*.msg-scrollbar {
		border-radius: 26px 26px 0 0;
	}*/
    .kisan-e-mitra-content-text {
        margin-top: 5px;
    }

    body {
        background-size: unset;
    }

    .content-head-text-responsive {
        text-align: center;
        background-color: #F7F7F8;
        padding: .5rem 2rem;
        border-radius: 26px 26px 0 0;
    }

        .content-head-text-responsive h1 {
            color: #198754;
            font-size: 24px;
            line-height: normal;
            margin: 0;
        }

    .message-input {
        height: 48px;
        padding: 0 2.5rem 0 1rem;
    }

    .audio-visualizer-wrapper {
        padding: 0 2.5rem 0 1rem;
    }

    .input-container {
        /*border-radius: 0 0 26px 26px;*/ /*padding-bottom: 0.5rem!important;*/
    }

    .send-button {
        width: 36px;
        height: 36px;
    }

    button[type="submit"] {
        width: 28px;
        height: 28px;
        background-size: contain;
        bottom: 0;
        margin: auto;
        right: 6px;
    }

    .refresh-btn-style, .mic-style {
        width: 36px;
        height: 36px;
        padding: 6px;
    }

    .load {
        width: 30px;
        height: 30px;
    }

    .meg-input {
        /*width: calc(100% - 128px);*/
    }

    .navigation-icon {
        margin-top: -36px;
        padding: 8px;
        height: 48px;
    }

    .kisan-e-mitra-texts-padding {
        padding: 0px 11px;
    }
}

@media (max-width:400px) {
    .msg-content {
        padding: 2% 0%;
    }

    .send-button {
        width: 36px;
        height: 36px;
    }

    .refresh-btn-style, .mic-style {
        width: 36px;
        height: 36px;
        padding: 4px;
    }
    /*.load{ width: 30px; height: 30px; }*/
    .meg-input {
        /*width: calc(100% - 88px);*/
    }
}
