@media (min-width:768px) {
	.content-head-text-responsive {
		display: none;
	}

	.kisan-e-mitra-texts-padding {
		background-color: #FFF;
		border-radius: 50px 50px 0 0;
	}

	.custom-option:first-child {
		margin-left: 0;
	}
}

@media (max-width:767px) {
	.kisan-e-mitra-content-text {
		margin-top: 0px;
	}

	body {
		background-size: unset;
	}

	.content-head-text {
		display: none;
	}

	.content-head-text-responsive {
		text-align: center;
		background-color: #F7F7F8;
		padding: .5rem 2rem;
		border-radius: 26px 26px 0 0;
	}

		.content-head-text-responsive h1 {
			color: #198754;
			font-size: 24px;
			line-height: normal;
			margin: 0;
		}

	.message-input {
		height: 48px;
		padding: 0 2.5rem 0 1rem;
	}

	.input-container {
		border-radius: 0 0 26px 26px; /*padding-bottom: 1.3rem!important;*/
	}

	.send-button {
		width: 48px;
		height: 48px;
	}

	button[type="submit"] {
		width: 28px;
		height: 28px;
		background-size: contain;
		bottom: 0;
		margin: auto;
		right: 6px;
	}

	.refresh-btn-style, .mic-style {
		width: 48px;
		height: 48px;
		padding: 6px;
	}

	.load {
		width: 38px;
		height: 38px;
	}

	.meg-input {
		width: calc(100% - 128px);
	}

	.navigation-icon {
		margin-top: -36px;
		padding: 8px;
	}

	.kisan-e-mitra-texts-padding {
		padding: 0px 11px;
	}
	/*.msg-scrollbar{ height: calc(100vh - 380px); }*/
	.custom-select {
		position: relative;
	}

	.custom-select__trigger {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		box-shadow: 3px 3px 5px rgb(0 0 0 / 15%);
		background: linear-gradient(180deg, #198754 0%, #316F52 100%);
		z-index: 99;
	}


	.custom-options {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		display: inline-block;
		padding: 5px;
		padding-top: 56px;
		width: 48px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: #c3ded2;
		z-index: 2;
	}

	.custom-select.open .custom-options {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}

	.custom-option {
		display: inline-block;
		margin-left: 0;
		cursor: pointer;
		font-weight: bold;
		margin-top: 0.5rem;
		width: 38px;
		height: 38px;
		line-height: 38px;
		min-width: auto;
	}

		.custom-option:first-child {
			margin-top: 0;
		}

		.custom-option:hover {
			cursor: pointer;
			background-color: #b2b2b2;
		}

		.custom-option.selected {
			color: #ffffff;
			background-color: #305c91;
		}
}

@media (max-width:400px) {
	.my-msg-content {
		padding: 2% 4%;
	}

	.send-button {
		width: 36px;
		height: 36px;
	}

	.refresh-btn-style, .mic-style {
		width: 36px;
		height: 36px;
		padding: 4px;
	}

	.load {
		width: 30px;
		height: 30px;
	}

	.meg-input {
		width: calc(100% - 88px);
	}
}
