/* Set padding to keep content from hitting the edges */


@font-face {
    font-family: Mulish-regular, sans-serif;
    src: url('../Font//Mulish-Regular.a4c4b1ab.ttf');
}

html, body {
    background: url('../Content/images/background.png'), lightgray 50% / cover no-repeat;
    font-family: Mulish-regular, sans-serif;
    /*background-image: url("../Content/images/background_mainpage.jpg");
    background-position: center;
    background-size: cover;*/
}

.main-page-content {
    height: 500px;
    margin: 0;
    padding: 0;
    font-family: Mulish-regular, sans-serif;
    display: flex;
    flex-direction: column;
    /*background: #d0d0d0;*/
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.center-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: #f1f1f1;
}

.bottom-container {
    display: flex;
    flex-direction: column;
}

.chatbox {
    flex: 1;
    flex-shrink: 2;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
}

    .chatbox input {
        width: 90%;
    }

    .chatbox button {
        width: 100px;
        background-color: #219653;
    }

.tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #333;
}
.chat-container-bg-imgs {
    padding: 2%;
}

.chat-container-top {
    /*background-color: #FFFFFF !important;
    border: 1px solid rgba(0,0,0,0);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;*/
    border-bottom: 1px solid #EAE9E9;
    padding: 0px 25px;
}

@media only screen and (max-width: 480px) {
    .chat-container-top {
    /*background-color: #FFFFFF !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;*/
    }
}

.app-container {
    border-radius: 50px;
    background: #FFF;
}