/* Set padding to keep content from hitting the edges */

.main-page-content{
    height: 500px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: #d0d0d0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}

.center-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0d0d0;
}

.bottom-section {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.bottom-container {
    display:flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
}

.chatbox {
    flex: 1;
    flex-shrink:2;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
}
.chatbox input{
    width:90%;
}
    .chatbox button {
        width: 100px;
        background-color: #219653;
    }


.tab-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #333;
}